.header {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.leftArrow {
  color: rgb(29, 155, 240);
}

.searchIcon {
  margin-left: 64px;
  position: relative;
  left: 23px;
  margin-top: 10;
  top: 3px;
}

.searchInput {
  background-color: #c6e6f1;
}

.dots {
}
